@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --light-green: #EAF9F1;
  --light-yellow: #F7F7F2;
  --light-blue: #D5E8F6;
  --light-brown: #FAF8F0;

  --medium-green: #7CB342;
  --medium-yellow: #F4C542;
  --medium-orange: #C16D33;
  --medium-brown: #6F4F28;

  --dark-green: #2E7D32;
  --dark-olive: #556B2F;
  --dark-blue: #37474F;
  --dark-brown: #3C2A22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: serif, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
